# Maven build output
target/

# Java compiled artifacts
*.class
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store

# Save files
src/main/java/edu/sjsu/cs151/blackjack/saves
high_scores.txt
user_accounts.txt
